<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/memories_vault.css') }}" />
        {% endblock %}
    </head>
    <body>
        <header class="container">
            {% block header %}
                {% include 'AppBundle::header.html.twig' with {'mainTitle':'Memories Vault'} %}
            {% endblock %}
        </header>

        {% block navigation %}{% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer class="container-fluid">
            {% block footer%}
                {% include 'AppBundle::footer.html.twig' %}
            {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
