<div class="row">
    <div class="col-xs-12 text-center">
        <span class="small">Powered by Loïc Fontaine / </span><a class="small" href="http://www.loicfontaine.net" target="_blank">www.loicfontaine.net</a>
    </div>
</div>