{% extends "AppBundle::layoutAdmin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Face creation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success" type="submit" value="Create"><span class="glyphicon glyphicon-ok-sign"></span> Create</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-info" href="{{ path('admin_face_index') }}"><span class="glyphicon glyphicon-list"></span> Back to the list</a>
        </div>
    </div>
{% endblock %}
