{% extends "AppBundle::layout.html.twig" %}

{% block content%}
<div class="row">
	<div class="col-xs-12">
		{% for theme in themesHomePage %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div class="well">
			      	<h2>{{ theme.name }}</h2>
			      	<ul class="list-unstyled">
			      		{% for event in theme.getEvents()|slice(0,10) %}
			      			<li>
			      				{% if event.countPhotos %}
			      					<span class="glyphicon glyphicon-camera"></span>
			      				{% endif %}
			      				{% if event.countVideos %}
			      					<span class="glyphicon glyphicon-film"></span>
			      				{% endif %}
			      				<a href="{{ path('event', {'id':event.id}) }}">{{ event.title }}</a>
			      			</li>
			      		{% endfor %}
			      	</ul>
			    </div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
